# 11. Build a supervised ML program for credit card Fraud Detection using Random Forest Classifier --

In [3]:
import pandas as pd
df = pd.read_csv("C:/fraudTest.csv")
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21-06-2020 12.14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,19-03-1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21-06-2020 12.14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",17-01-1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,1
2,2,21-06-2020 12.14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21-10-1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,21-06-2020 12.15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,25-07-1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,21-06-2020 12.15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,06-07-1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [4]:
df.shape

(555719, 23)

In [5]:
print(df.isna().sum())

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.drop(columns = 'Unnamed: 0', axis = 1,inplace = True)

In [8]:
df.shape

(555719, 22)

In [9]:
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder() 
df = df.apply(lambda x : le.fit_transform(x)) 
df.head(10)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,140408,397,319,10,186,151,115,1,341,157,...,182,663,794,275,544,98699,0,114727,392332,0
1,140408,538,591,10,2884,163,457,0,354,16,...,524,96,89,392,481,108785,1,277654,59408,1
2,140408,582,611,5,4028,24,249,0,865,61,...,558,860,675,259,622,433979,2,332793,510508,0
3,140409,569,222,9,5905,42,457,1,320,764,...,29,666,702,407,732,71993,3,19517,399880,0
4,140409,457,292,13,219,247,261,1,548,247,...,808,523,254,196,169,190585,4,501776,305489,0
5,140409,183,126,7,1855,85,120,0,727,90,...,691,775,143,361,378,263939,5,399947,460754,0
6,140409,273,526,5,13293,189,409,0,9,117,...,545,9,257,455,419,49712,6,387591,2329,0
7,140409,567,500,10,937,256,119,0,340,725,...,786,202,103,124,125,303363,7,491414,125577,1
8,140410,577,201,12,337,86,121,1,400,503,...,598,738,456,13,772,246521,8,389995,452755,0
9,140410,492,315,1,6554,189,313,0,751,624,...,87,223,75,41,865,363381,9,57757,146964,0

In [10]:
x = df.drop(columns = 'is_fraud', axis = 1)
y = df['is_fraud']

In [11]:
x.shape, y.shape

((555719, 21), (555719,))

In [14]:
from sklearn.model_selection import train_test_split 
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state = 42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
rm=RandomForestClassifier(n_estimators = 100, random_state = 42) 
rm.fit(x_train,y_train)

In [ ]:
y_pred = rm.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report 
print("Confusion Matrix :\n",confusion_matrix(y_pred,y_test)) 
print("Accuracy : ",accuracy_score(y_pred,y_test)) 
print("Classification Report --->\n",classification_report(y_pred,y_test))